*.DS_Store
.idea
/nbproject/private/
/nbproject/
/node_modules/
TODO
*.zip

/vendor/

doc/siteplan/

doc/res/

doc/member/

doc/muni_form/

doc/muni_pay/

doc/pujaper/

doc/Land_NOC/

doc/bank_p_book/

doc/elec_bill/

doc/fire/

config\.inc\.php

composer\.lock
